*.[oa]
*.l[oa]
*~
*.deps
*.libs
*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config/
config/*
configure
example/dump_info
example/dump_stream
example/loop_stream
libnemesi.pc
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
stamp-h1
