Source: nemesi
Section: net
Priority: optional
Maintainer: OMSP Team <streaming@multiemeda.polito.it>
Build-Depends: debhelper (>= 4.0.0), automake1.8, autoconf, libtool, libsdl1.2-dev, libgtk2.0-dev
Standards-Version: 3.6.1

Package: nemesi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: standards-compliant multimedia streaming client
 NeMeSI is a streaming client that allows user to enjoy playback of multimedia
 files with low latency transport over IP-based networks. This software is
 fully compliant with  IETF's standards for real-time streaming of multimedia
 contents over Internet. NeMeSI implements RTSP - Real-Time Streaming Protocol
 (RFC2326) and RTP/RTCP - Real-Time Transport Protocol/RTP Control Protocol
 (RFC3550) supporting the RTP Profile for Audio and Video Conferences with
 Minimal Control (RFC3551). 
 .
 NeMeSI is the official streaming client for the Open Media Streaming Project
 (http://streaming.polito.it) which is is a free/libre project software for the
 development of a platform for the streaming of multimedia contents. The
 platform is based on the full support of the IETF's standards for the real-time
 data transport over IP. The aim of the project is to provide an open solution,
 free and interoperable along with the proprietary streaming applications
 currently dominant on the market.
 
